<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>733853008214-b85guqpgcmds3hpjc5fq2c2hqrtqkrui.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.733853008214-b85guqpgcmds3hpjc5fq2c2hqrtqkrui</string>
	<key>API_KEY</key>
	<string>AIzaSyAasnc0-eVN7kR6hyp-RDqZHQlipShyUhc</string>
	<key>GCM_SENDER_ID</key>
	<string>733853008214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wordBank</string>
	<key>PROJECT_ID</key>
	<string>wupdate-d812a</string>
	<key>STORAGE_BUCKET</key>
	<string>wupdate-d812a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:733853008214:ios:470d7cd4db10d2e77556f7</string>
	<key>DATABASE_URL</key>
	<string>https://wupdate-d812a-default-rtdb.firebaseio.com</string>
</dict>
</plist>